html,body,div,span,
object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,ul,ol,li,
form,fieldset,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0; 
	padding:0;
	border:0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	line-height: 1.2;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
input,select {
	margin:0; 
	padding:0;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	line-height: 1.2;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
:focus	{outline: 0;}

table	{border-collapse:collapse; border-spacing:0;}

caption, th, td {text-align: left; font-weight: normal;}
h1,h2,h3,h4,h5,h6{
		font-weight: normal;
}

em		{font-style: italic;}
strong	{font-weight: bold;}

ol,ul 	{list-style:none;}
li 		{display: block;}


.clear			 {clear: both;}
.hide-left		 {position:absolute; left:-2000px;}

.hidden			 {display:none !important;}
.invisible		 {visibility: hidden !important;}

.visible		 {visibility: visible !important;}

.left			 {float:left !important;}
.right			 {float:right !important;}
.alignleft						 {text-align:right !important;}
.alignright						 {text-align:right !important;}
.aligncenter,.center			 {text-align:center !important;}
.justify						 {text-align:justify !important;}

.layout, .box	 {box-sizing:border-box !important;-moz-box-sizing:border-box !important;}
.fixed			 {position:fixed !important;}
.full			 {width:100%;}
